<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-packages" data-toc-modified-id="Import-packages-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import packages</a></span></li></ul></div>

# Import packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
df_vaccs = pd.read_csv('covid19_vaccinations_in_the_united_states.csv', skiprows=2)

In [7]:
df_vaccs

,State/Territory/Federal Entity,Total Distributed,Total Administered,Distributed per 100K,Administered per 100K
0,Alaska,132350,35027,18092.0,4788.0
1,Alabama,326850,76528,6666.0,1561.0
2,Arkansas,250200,40879,8291.0,1355.0
3,American Samoa,10650,2054,19124.0,3688.0
4,Arizona,563025,137860,7735.0,1894.0
...,...,...,...,...,...
58,Vermont,54250,25757,8694.0,4128.0
59,Washington,565775,188215,7430.0,2472.0
60,Wisconsin,418775,135261,7192.0,2323.0
61,West Virginia,160975,96337,8982.0,5376.0
62,Wyoming,41375,13022,7149.0,2250.0

In [8]:
df_cases = pd.read_csv('United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv')

In [9]:
df_cases

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,05/04/2020,KY,5245,5245.0,0.0,115,0.0,261,261.0,0.0,8,0.0,05/05/2020 05:25:08 PM,Agree,Agree
1,04/21/2020,MI,32967,32967.0,0.0,967,0.0,2700,2700.0,0.0,232,0.0,04/21/2020 04:22:39 PM,Agree,Agree
2,01/01/2021,FL,1300528,NaN,NaN,0,6063.0,21673,NaN,NaN,0,7.0,01/02/2021 02:50:51 PM,Not agree,Not agree
3,04/30/2020,IA,7145,NaN,NaN,302,0.0,162,NaN,NaN,14,0.0,05/01/2020 09:00:19 PM,Not agree,Not agree
4,06/25/2020,NE,18346,NaN,NaN,125,0.0,260,NaN,NaN,3,0.0,06/26/2020 07:18:27 PM,Not agree,Not agree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21415,07/02/2020,NC,68238,68142.0,96.0,1639,10.0,1391,1391.0,0.0,18,0.0,11/13/2020 07:10:12 PM,Agree,Agree
21416,03/23/2020,RI,106,NaN,NaN,9,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Not agree,NaN
21417,10/09/2020,GU,2989,NaN,NaN,0,0.0,58,NaN,NaN,0,0.0,10/10/2020 01:30:17 PM,Not agree,Not agree
21418,07/12/2020,DC,10847,NaN,NaN,46,0.0,568,NaN,NaN,0,0.0,07/13/2020 03:19:34 PM,NaN,NaN
21419,07/20/2020,NH,6249,NaN,NaN,46,0.0,398,NaN,NaN,0,0.0,07/21/2020 02:50:17 PM,Not agree,Not agree